@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --main-color: black;
  --main-background: white;
  --normal-padding: 10px;
  --normal-margin: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
  background-color: var(--main-background);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
}

button {
  background-color: var(--main-background);
  cursor: pointer;
  padding: 1px 6px;
}